{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h2><a href="/blog/{{ item["new_url"] }}"> {{ item["title"] }} </a></h2>
      <p>{{ item["date"] }}</p>
      <p>{{ item["body"]|safe }}</p>

      <ul>
      {% for tag in links %}
        <b>{{tag}}</b>
        {% for link in links[tag] %}
          <li>
            <a href='{{ link["href"] }}'>{{link["description"]}}</a>
          </li>
        {% endfor %}
      {% endfor %}
      </ul>
      <p id="subscribe">Enjoyed the read? follow me on <a href="http://twitter.com/savagegus">twitter</a>, or subscribe to my <a href="http://feeds.feedburner.com/unsure">feed</a>.</p>
    </div>
  </div>
</div>
{% endblock %}
