<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
		<LINK REL="SHORTCUT ICON" HREF="/static/images/favicon.ico">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>{{ title }}</title>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-632866-6']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</head>
	<body id="{{ item["new_url"] }}">
    <div class="wrapper">
        <div class="headr"> 
            <a href="/about/">unsure.org</a> poorly updated since 2004
        </div> 
        <div class="nav"> 
            <ul> 
                <li> 
                    <a href="/blog/">blog</a>
                </li> 
                <li> 
                    <a href="/projects/">projects</a>
                </li> 
                <li> 
                    <a href="/about/">about</a>
                </li> 
                <li>
                    <a href="/blog/feed/">feed</a>
                </li>
            </ul> 
        </div> 
    </div>
		<article class="post">
			<header>
				<h1> {{ item["title"] }} </h1>
				<span class="date">{{ item["date"] }}</span>
			</header>
			<section class="content">
				{{ item["body"] }}
			</section>
			<p id="subscribe">Enjoyed the read? follow me on <a href="http://twitter.com/savagegus">twitter</a>, or subscribe to my <a href="http://feeds.feedburner.com/unsure">feed</a>.</p> 
		</article>

	<footer>
		powered by <a href="http://unsure.org/gale">gale</a>
	</footer>

	</body>
</html>
