<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>{{ title }}</title>
	</head>
	<body id="{{ item["new_url"] }}">
		<article class="post">
			<header>
				<h1> {{ item["title"] }} </h1>
				<span class="date">{{ item["date"] }}</span>
			</header>
			<section class="content">
				{{ item["body"] }}
			</section>
			<p id="subscribe">Enjoyed the read? follow me on <a href="http://twitter.com/savagegus">twitter</a>, or subscribe to my <a href="http://feeds.feedburner.com/unsure">feed</a>.</p> 
		</article>

	<footer>
		powered by <a href="http://unsure.org/gale">gale</a>
	</footer>

	</body>
</html>