<!doctype html>
<html class="no-js" lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="SHORTCUT ICON" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
    <script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
    {% endblock %}
  </head>
  <body>
    <div class="contain-to-grid">
    <!-- Your nav bar -->
    <nav class="top-bar">
        <ul class="title-area">
            <a href="{{url_for('about.index')}}">unsure.org</a> poorly updated since 2004
        </ul>

        <section class="top-bar-section">
            <ul class="left">
                <a href="{{url_for('blog.index')}}">blog</a>
                <a href="/projects">projects</a>
            </ul>
            <ul class="right">
                <a href="{{url_for('about.index')}}">about</a>
                <a href="/blog/feed">feed</a>
            </ul>
        </section>
     </nav>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <h3><a href="{{url_for('about.index')}}">unsure.org</a> poorly updated since 2004</h3>
      </div>
      <div class="large-6 columns">
        <dl class="sub-nav">
          <dd><a href="{{url_for('blog.index')}}">blog</a></dd>
          <dd><a href="/projects">projects</a></dd>
          <dd><a href="{{url_for('about.index')}}">about</a></dd>
          <dd><a href="/blog/feed">feed</a></dd>
        </dl>
      </div>
    </div>

    {% block content %}
    {% endblock %}

    {% block js %}
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
    <script>
      $(document).foundation();
    </script>
    {% endblock %}

  </body>
</html>
