{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}
    {% for item in items[0:1] %}
		<section id="articles">
			<article class="post">
				<header>
					<h1><a href="/blog/{{ item["new_url"] }}"> {{ item["title"] }} </a></h1>
					<span class="date">{{ item["date"] }}</span>
				</header>
				<section class="content">
					{{ item["body"]|safe }}
				</section>
			</article>
		</section>
	{% endfor %}
	<section id="articles">
		<ul>
		{% for item in items[1:] %}
			<li>
				<a href="/blog/{{ item["new_url"] }}">{{item["title"]}}</a>
				<span class="wc"><span class="separator">.</span>{{ item["word_count"] }} words</span>
				<span style="float: right" class="date"> {{ item["date"] }} </span>
			</li>
		{% endfor %}
		</ul>
	</section>
{% endblock %}