{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}


{% block content %}
  {% for item in items[0:1] %}
  <div class="row">
	  <div class="large-12 columns">
	    <div class="panel">
	      <h2><a href="/blog/{{ item["new_url"] }}"> {{ item["title"] }} </a></h2>
	      <p>{{ item["date"] }}</p>
	      <p>{{ item["body"]|safe }}</p>
			</div>
	  </div>
	</div>
	{% endfor %}

	<div class="row">
		<div class="large-6 columns">
		<ul class="pricing-table">
			<li class="title">Previously</li>
			{% for item in items[1:] %}
	  		<li class="bullet-item">
					<a href="/blog/{{ item["new_url"] }}">{{item["title"]}}</a>
					<span class="wc"><span class="separator">.</span>{{ item["word_count"] }} words</span>
					<span style="float: right" class="date"> {{ item["date"] }} </span>
				</li>
			{% endfor %}
		</ul>
		</div>
		<div class="large-6 columns">
		<ul class="pricing-table">
			<li class="title">Previously</li>
			{% for item in items[1:] %}
	  		<li class="bullet-item">
					<a href="/blog/{{ item["new_url"] }}">{{item["title"]}}</a>
					<span class="wc"><span class="separator">.</span>{{ item["word_count"] }} words</span>
					<span style="float: right" class="date"> {{ item["date"] }} </span>
				</li>
			{% endfor %}
		</ul>
		</div>
	</div>
{% endblock %}
