{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}
        <article class="post">
			<header>
                <div class="fancy">
                    <i class="fa fa-circle-o"></i>
                    <i class="fa fa-circle"></i>
                    <i class="fa fa-circle-o"></i>
                </div>
				<h1> {{ post.title }} </h1>
				<span class="date">2014-03-17</span>
			</header>
			<section class="content">
				{{ post.html|safe }}
			</section>
			<p id="subscribe">Enjoyed the read? follow me on <a href="http://twitter.com/savagegus">twitter</a>, or subscribe to my <a href="http://feeds.feedburner.com/unsure">feed</a>.</p>
		</article>
{% endblock %}
